  <!-- Header containing app logo and welcome text for mobile view -->
  <div class="mobile-header">
      <a class="title">
        <div class="bold">öğrenci</div>
        <div>evi</div>
      </a>
      <div class="welcome-text">
        Hoşgeldin 
        <span class="bold"> {{currentUser?.firstname}} !</span>
      </div>
    </div>  
  <!-- Navigation links for both mobile and non-mobile (tablet and desktop) views -->
  <div class="navigation-links">
      <div class="title-and-welcome-text">
        <a class="title">
          <div class="bold">öğrenci</div>
          <div>evi</div>
        </a>
        <div class="welcome-text">
          Hoşgeldin
          <span class="bold"> {{currentUser?.firstname}} !</span>
        </div>
      </div>
      <div class="navigation-links-inner">
        <a class="navigation-link home-link" [routerLink]="['/dashboard/home']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <div class="icon"></div>
          <div class="label" >Ana Sayfa</div>
        </a>
        <a class="navigation-link roulette-link" [routerLink]="['/dashboard/roulette']" [routerLinkActive]="'active'">
          <div class="icon"></div>
          <div class="label" >İş Ruleti</div>
        </a>
        <a class="navigation-link logout-link" [routerLink]="['/login']" [routerLinkActive]="'active'">
          <div class="icon"></div>
          <div class="label" >Çıkış</div>
        </a>
      </div>
    </div>