<div class="page-content">
  <div class="title-with-lines">
    <div class="line"></div>
    <div class="title bold">İşler</div>
    <div class="line"></div>
  </div>
  <div class="job-list">
    <div *ngFor="let taskItem of tasks" class="job-container" (click)="taskItemSelected(taskItem)" [ngClass]="{'selected': selectedTaskItem && selectedTaskItem.id == taskItem.id}">
      <div class="job-item">{{taskItem.description}}</div>
    </div>
    <div class="unassigned-tasks-empty" *ngIf="tasks.length==0"> Malesef tüm işler kapıldı</div>
  </div>

  <div class="title-with-lines">
    <div class="line"></div>
    <div class="title bold">Ruleti Başlat</div>
    <div class="line"></div>
  </div>
  <div class="roulette-container">
    <div id="roulette"></div>
    <div class="pointer"></div>
  </div>

  <button class="start-roulette" [ngClass]="{'roulette-disabled': !selectedTaskItem}" (click)="startRoulette()">Başlat</button>
</div>
