<div class="login-page">
  <div class="title">
    <div class="bold">öğrenci</div>
    <div>evi</div>
  </div>
  <div class="sub-title">
    ev idaresi uygulaması
  </div>
  <form ngForm class="login-form">
    <input [(ngModel)]="name" class="common-input" type="text" placeholder="Ad" name="nameInput">
    <input [(ngModel)]="surname" class="common-input" type="text" placeholder="Soyad" name="surnameInput">
    <select class="common-input">
      <option selected disabled>Ev Seçiniz</option>
      <option *ngFor="let houseItem of houses">{{houseItem}}</option>
    </select>
    <div class="login-button-container">
      <button class="login-button" type="submit">
        <a [routerLink]="['/c/home']" href="">GİRİŞ</a>
      </button>
    </div>
  </form>
</div>
