/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0px;
}

* {
    font-family: 'Ubuntu';
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

.page-container {
    width: 100%;
    height: 100%;
    max-width: 1800px;
    margin: auto;
    position: relative;
}

.page-container .page-content {
    position: absolute;
    top: 72px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    padding: 20px 30px 20px 30px;
}


/* Mobile CSS */

@media only screen and (max-width: 736px) {
    .page-container .page-content {
        top: 64px;
        bottom: 72px;
    }
}


/* Non-mobile (Desktop or Tablet) CSS */

@media only screen and (min-width: 737px) {}


/* CSS for small screen mobile phones */

@media only screen and (max-width: 450px) {
    .page-container .page-content {
        padding: 10px 15px 10px 15px;
    }
}