<!-- Generic page container -->
<div class="page-container">
  <!-- Header containing app logo and welcome text for mobile view -->
  <div class="mobile-header">
    <a class="title">
      <div class="bold">öğrenci</div>
      <div>evi</div>
    </a>
    <div class="welcome-text">
      Hoşgeldiniz
      <!-- <span class="bold">{{username}}</span>! -->
    </div>
  </div>
  <!-- Navigation links for both mobile and non-mobile (tablet and desktop) views -->
  <div class="navigation-links">
    <div class="title-and-welcome-text">
      <a class="title">
        <div class="bold">öğrenci</div>
        <div>evi</div>
      </a>
      <div class="welcome-text">
        Hoşgeldiniz
        <!-- <span class="bold">{{username}}</span>! -->
      </div>
    </div>
    <div class="navigation-links-inner">
      <a class="navigation-link home-link active">
        <div class="icon"></div>
        <div class="label" [routerLink]="['/home']" href="">Ana Sayfa</div>
      </a>
      <a class="navigation-link roulette-link">
        <div class="icon"></div>
        <div class="label" [routerLink]="['/roulette']" href="">İş Ruleti</div>
      </a>
      <a class="navigation-link logout-link">
        <div class="icon"></div>
        <div class="label" [routerLink]="['/login']" href="">Çıkış</div>
      </a>
    </div>
  </div>
  <!-- Content of the page -->
  <div class="page-content">
    <div class="title-with-lines">
      <div class="line"></div>
      <div class="title bold">Ev Halkı</div>
      <div class="line"></div>
    </div>
    <table class="people-table">
      <thead>
        <tr>
          <th class="name-surname-column">Adı Soyadı</th>
          <th class="task-count-column">Toplam Görev</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of houseHold">
          <td class="name-surname-column">{{person.name}} {{person.surname}}</td>
          <td class="task-count-column">{{person.taskCount}}</td>
        </tr>
      </tbody>
    </table>

    <div class="title-with-lines">
      <div class="line"></div>
      <div class="title bold">İşler</div>
      <div class="line"></div>
    </div>
    <div class="job-list">
      <div *ngFor="let taskItem of tasks" class="job-container">
        <div class="job-item">{{taskItem.taskName}}</div>
        <div *ngIf="taskItem.taskOwner" class="assignee">{{taskItem.taskOwner.name + taskItem.taskOwner.surname}}</div>
        <div *ngIf="!taskItem.taskOwner" class="assignee not-available">Kimse Atanmadı</div>
        <div class="delete-button">sil</div>
      </div>
    </div>
  </div>
